<style>
  ul {
    padding-left: 0px;
    list-style-type: none;
  }
  li {
    display: inline;
    background-color: gray;
    margin: 10px;
    padding: 5px;
  }
</style>

<ul>
  <li class="nav-item">
    <a class="nav-link" href="/upload">upload</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/view">view</a>
  </li>
</ul>
