<!DOCTYPE html>
<html>
  <head>
    <style>
      .scaleImage80 {
        width: 10%; /* Adjust the width as necessary */
        height: auto; /* Maintains the aspect ratio */
        display: block; /* To remove bottom space/gap */
        margin: 0 auto; /* Centers the image in the table cell */
      }
    </style>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('navbar') %>
    <h1>Uploaded files</h1>
    <table border="1">
      <thead>
        <tr>
          <th>File Name</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <% for(let imageName of fileNames) { %>
        <tr>
          <td><%= imageName%></td>
          <td><img src="/images/<%= imageName %>" class="scaleImage80" /></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
